* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Arial;
}

html{
    scroll-behavior: smooth;  /*menu transaction to sections*/
}
/* BACKHROUND HEADER STYLE */
.index{
  width: 100%;
  min-height: 100vh;
  background: #000;  
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.glowing{
 position: relative;
 min-width: 750px;
 height: 750px;
 margin: -150px;
 transform-origin: right ; 
 animation: colorChange 8s linear infinite;
}

.glowing:nth-child(even){
    transform-origin: left;
}

@keyframes colorChange {
    0%
    {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
    
}
.glowing span{
   position: absolute; 
   top: calc(80px * var(--i));
   left: calc(80px * var(--i));
   bottom: calc(80px * var(--i));
   right: calc(80px * var(--i));
}

.glowing span:before{
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
}

.glowing span:nth-child(3n + 1):before{
    background: rgba(134, 255, 0, 1);
    box-shadow: 0 0 20px rgba(134, 255, 0,1),
                0 0 40px rgba(134, 255, 0,1),
                0 0 80px rgba(134, 255, 0,1),
                0 0 120px rgba(134, 255, 0,1),
                0 0 0 2px rgba(134, 255, 0,.1);
}

.glowing span:nth-child(3n + 2):before{
    background: rgba(255, 215, 0, 1);
    box-shadow: 0 0 20px rgba(255, 215, 0, 1),
                0 0 40px rgba(255, 215, 0, 1),
                0 0 80px rgba(255, 215, 0, 1),
                0 0 120px rgba(255, 215, 0, 1),
                0 0 0 2px rgba(255, 215, 0, .1);
}

.glowing span:nth-child(3n + 3):before{
    background: rgba(0, 255, 255, 1);
    box-shadow: 0 0 20px rgba(0, 255, 255, 1),
                0 0 40px rgba(0, 255, 255, 1),
                0 0 80px rgba(0, 255, 255, 1),
                0 0 120px rgba(0, 255, 255, 1),
                0 0 0 2px rgba(0, 255, 255, 1);
}

.glowing span:nth-child(3n + 1){
    animation: animate 10s alternate infinite;
}
.glowing span:nth-child(3n + 2){
    animation: animate-reverse 10s alternate infinite;
}

.glowing span:nth-child(3n + 3){
    animation: animate 8s alternate infinite;
}


@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animate-reverse{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* LETTER HEADER STYLE */

.box{
    text-align: center;
    min-height:100vh;
    width: 100%;
    background: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Yep! */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box h2{
    color:#fff;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px #00b3ff,
                 0 0 20px #00b3ff,
                 0 0 40px #00b3ff,
                 0 0 80px #00b3ff,
                 0 0 120px #00b3ff;
    animation: colorChangeBox 8s linear infinite;
}

@keyframes colorChangeBox {
    0%
    {
        filter: hue-rotate(0deg);
       
    }
    100%
    {
        filter: hue-rotate(360deg);
        
    }
    
}
/*
.lightbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    border-radius: 10px;
    background: #fff;
    z-index: 2;
    box-shadow: 0 0 10px #00b3ff,
                 0 0 20px #00b3ff,
                 0 0 40px #00b3ff,
                 0 0 80px #00b3ff,
                 0 0 120px #00b3ff;
    animation: animatelightbar 5s linear infinite;
}

@keyframes animatelightbar{
    0%, 5%
    {
        transform: scaleY(0) translateX(0);   
    }
    10%
    {
        transform: scaleY(1) translateX(0); 
    }
    90%
    {
        transform: scaleY(1) translateX(calc(600px - 10px)); 
    }
    95%,100%
    {
        transform: scaleY(0) translateX(calc(600px - 10px)); 
    }
}

.topLayer{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    animation: animatetopLayer 10s linear infinite;
}

@keyframes animatetopLayer {
    0%,2.5%
    {
        transform: translateX(0);   
    }
    5%
    {
        transform: translateX(0); 
    }
    45%
    {
        transform: translateX(100%); 
    }
    47.5%,50%
    {
        transform: translateX(100%); 
    }
    50.001%,52.5%
    {
        transform: translateX(-100%);   
    }
    55%
    {
        transform: translateX(-100%); 
    }
    95%
    {
        transform: translateX(0%); 
    }
    97.5%,100%
    {
        transform: translateX(0%); 
    }
}*/

/* NAVBAR STYLE */

nav{
    height: 80px;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    position:fixed;
    top: 90vh; /* required */
    overflow: hidden;
    z-index: 60;
    background: #111;
}


nav a{
    border: 2px solid #0f0;
    flex:1;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    transition: .2s ease-in-out all;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    transition-delay: 0s;
}

nav a:hover{
    transition-delay: 1.5s;
    color: #000;
    box-shadow: 0 0 10px #0f0,
                0 0 20px #0f0,
                0 0 40px #0f0,
                0 0 80px #0f0,
                0 0 160px #0f0;
}

span{
    position: relative;
    z-index: 100;
}
nav a:nth-child(1){
    filter: hue-rotate(0deg)
}
nav a:nth-child(2){
    filter: hue-rotate(60deg)
}
nav a:nth-child(3){
    filter: hue-rotate(120deg)
}
nav a:nth-child(4){
    filter: hue-rotate(240deg)
}

nav a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #0f0;
    box-shadow: 5px -8px 0 #0f0,
                5px  8px 0 #0f0;
    transition: width 0.5s, left 0.5s, height 0.5s,
    box-shadow 0.5s ;
    transition-delay: 1s, 0.5s, 0s, 0s;
}

nav a:hover::before{
    width: 60%;
    height: 100%; 
    left: -2px;
    box-shadow: 5px 0 0 #0f0,
                5px 0 0 #0f0;
    transition-delay: 0s, 0.5s, 1s, 1s;

}

nav a::after{
    content: '';
    position: absolute;
    right:0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #0f0;
    box-shadow: -5px -8px 0 #0f0,
                -5px  8px 0 #0f0;
    transition: width 0.5s, left 0.5s, height 0.5s,
    box-shadow 0.5s ;
    transition-delay: 1s, 0.5s, 0s, 0s;
}

nav a:hover::after{
    width: 60%;
    height: 100%; 
    right: -2px;
    box-shadow: -5px 0 0 #0f0,
                -5px 0 0 #0f0;
    transition-delay: 0s, 0.5s, 1s, 1s;

}

@media (max-width: 852px){
    nav a{
        border: 1px solid #0f0;
        flex:1;
        height: 100%;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        font-size: 0.8rem;
        text-decoration: none;

    }

    nav a::before,
    nav a::after{
        display: none;
    }

    ul li{
        font-size: 2rem;
    }
    #flappyGame{
        width: 50px;
        height: 50px;
        border: 1px solid black;
        overflow: hidden;
        display: none;
    }
}

@media (max-width: 450px){
    
    ul li{
        font-size: 1rem;
        margin: 0 37px;
    }
    #flappyGame{
        width: 10px;
        height: 10px;
        border: 1px solid black;
        overflow: hidden;
        display: none;
    }
}
/* SECTION CARDS STYLE */

.body-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1d061a;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    padding: 40px 0;  
}

.container .box-card{
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}

.container .box-card::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.container .box-card::after{
    content: '';
    position: absolute;
    top: 0px;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(38px);
    transition: 0.5s;
}

.container .box-card:hover:before,
.container .box-card:hover:after{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}

.container .box-card:nth-child(1):before,
.container .box-card:nth-child(1):after{
    background: linear-gradient(315deg,  #00d0ff,#4dff03);
}

.container .box-card:nth-child(2):before,
.container .box-card:nth-child(2):after{
    background: linear-gradient(315deg, #ff0058, #03a9f4);
}

.container .box-card:nth-child(3):before,
.container .box-card:nth-child(3):after{
    background: linear-gradient(315deg, #ffbc00,#ff0058);
}



.container .box-card span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}

.container .box-card span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.container .box-card:hover span::before{
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.container .box-card span::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    animation-delay: -1s;
}

.container .box-card:hover span::after{
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

@keyframes animate{
    0%,100%
    {
        transform: translateY(10px)
    }
    50%
    {
        transform: translateY(-10px)    
    }
}

.container .box-card .content{
    width: 254px;
    height: 250px;
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: 0.5s;
    color:  #fff;
}

.container .box-card:hover .content{
    left: -25px;
    padding: 60px 40px;
}

.container .box-card .content h2{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}

.container .box-card .content p{
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.container .box-card .content a{
    position: absolute;
    top: 80%;
    font-size: 1.1em;
    color: #111;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
}


/* SNAKE GAME STYLE */
.section{
  background: rgba(252, 253, 251, 0.596);
  min-height: 100vh;
  margin: auto;
}
#snake{
 padding: 50px;
 display: none;
}

#board{
    max-width: 500px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(10, 1fr);
}

#score{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}
.square{
    aspect-ratio: 1/1;
}

.emptySquare{
    background-color: #456990;
}

.snakeSquare{
    background-color: #ccf47f;
}

.foodSquare{
   background-color: #f35a69; 
}

#scoreBoard{
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
}

/* FLAPPY BIRD STYLE */

#flappyGame{
    width: 22rem;
    height: 29rem;
    border: 1px solid black;
    overflow: hidden;
    display: none;
    margin:auto;
}

#block{
    width: 50px;
    height: 500px;
    background-color: #000;
    position: relative;
    left: 25rem;
    overflow: hidden;
   /* animation: block 2s infinite linear;*/
}

.block-start{
    width: 50px;
    height: 500px;
    background-color: #000;
    position: relative;
    left: 400px;
    animation: block 3s infinite linear;
}

@keyframes block {
    0%{left: 400px}
    100%{left: -500px}
}

#hole{
    width: 50px;
    height: 150px;
    background-color: #fff;
    position: relative;
    left: 400px;
    top: -500px;
}

.hole-start{
    width: 50px;
    height: 150px;
    background-color: #fff;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 3s infinite linear;
}


#character{
    width: 20px;
    height: 20px;
    background-color: #f35a69;
    position: absolute;
   /* top: 100px;*/
    border-radius: 50%;
    overflow: hidden;
}

#flappyGame{
    margin: auto;
}

/* SPACE INVADERS STYLE */

.grid{
    width: 300px;
    height: 300px;
    border: solid #000 1px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;    
}

#invaders{
    display: none;
    padding-top: 50px;
}
.grid div{
    width: 20px;
    height: 20px;
}

.invader{
   background-color: rgb(99, 6, 99); 
   border-radius: 10px;
}

.shooter{
    background-color: rgb(18, 161, 42); 
 }

.laser{
    background-color: rgb(245, 170, 10); 
 }

.boom{
    background-color: rgb(150, 13, 20); 
 }

.white{
    background-color: #fff;
 }


/*FOOTER STYLE */
footer{
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
    z-index: 50;
}

footer ul{
    position:relative;
    display: flex;
    flex-wrap: wrap;
}

footer ul li{
    position: relative;
    list-style: none;
    width: 50px;
    height: 50px;
    margin: 30px;
    transition: all 0.5s ease-in-out;
}

footer ul li span{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 50px !important;
    color: white;
    transition: all 0.5s ease-in-out;
    background-color: transparent !important;
}

.boxSkew{
    transform: rotate(-30deg) skew(25deg);
}

.boxExpand span:nth-child(5){
    transform: translate(40px, -40px);
    opacity:1 ;
}

.boxExpand span:nth-child(4){
    opacity:0.8;
    transform: translate(30px, -30px);
}

.boxExpand span:nth-child(3){
    opacity:0.6;
    transform: translate(20px, -20px);
}

.boxExpand span:nth-child(2){
    opacity:0.4;
    transform: translate(10px, -10px);
}

.boxExpand span:nth-child(1){
    opacity:0.2;
    transform: translate(0px, -0px);
}

.fa-twitter{
    text-shadow: 0 0 20px #34e734,
                 0 0 40px #34e734,
                 0 0 60px #34e734,
                 0 0 80px #34e734;


}

.fa-instagram{
    text-shadow: 0 0 20px #00b6ff,
                 0 0 40px #00b6ff,
                 0 0 60px #00b6ff,
                 0 0 80px #00b6ff,
                 0 0 100px #00b6ff,
                 0 0 120px #00b6ff,
                 0 0 140px #00b6ff;
    
}

.fa-facebook-f{
    text-shadow: 0 0 20px #fb00ff,
                 0 0 40px #fb00ff,
                 0 0 60px #fb00ff,
                 0 0 80px #fb00ff,
                 0 0 100px #fb00ff,
                 0 0 120px #fb00ff,
                 0 0 140px #fb00ff;
}

li:nth-child(1) span{
    box-shadow: 0 0 0.01em 0 #34e734 ;
}

li:nth-child(2) span{
    box-shadow: 0 0 0.01em 0 #00b6ff ;
}

li:nth-child(3) span{
    box-shadow: 0 0 0.01em 0 #fb00ff;
}

.boxSkew:nth-child(1) span{
    box-shadow: -1px 1px 4px 3px #34e734;
    background-color: #07f8070f !important;
}

.boxSkew:nth-child(2) span{
    box-shadow: -1px 1px 4px 3px #00b6ff;
    background-color: #07adf80f  !important;
}

.boxSkew:nth-child(3) span{
    box-shadow: -1px 1px 4px 3px #fb00ff;
    background-color: #f700ff0f !important;
}

.black{
    background: white;
    width: 100%;
    align-items: baseline;
}

/* START GAME, GAME OVER PAGE */

#start-game, #game-over{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
}

#game-over{
    display: none;
}

#start-game .neon-text{
    text-align: center;
    font-size: 4em;
    margin-bottom: 30px;
    font-weight: bold;
    animation: light 1.5s ease-in-out infinite alternate;
}

@keyframes light {
    from {
        color: #fff;
        text-shadow: 0 0 0px #00b6ff,
                     0 0 0    #00b6ff,
                     0 0 10px #00b6ff,
                     0 0 20px #00b6ff,
                     0 0 90px #00b6ff;

    }
    to 
    {
        color: lightgrey;
        text-shadow: 0 0 0px #00b6ff,
                     0 0 0 #00b6ff,
                     0 0 20px #00b6ff,
                     0 0 90px #00b6ff;
    }
}

#start-game ul{
    font-size: 2em;
    margin-bottom: 38px;
    color: #fff;
}

.btn-start, .btn-reset{
    display: flex;
    justify-content: center;
    align-items: center;
}

#start, #play-again{
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color:#fff;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.5em;
    transition: 0.5s;
    width: 200px;
    height: 50px;

}

#start:hover{
    letter-spacing: 3px;
    background: #00b6ff;
    color: #111;
    font-weight: 600;
}

#play-again:hover{
    letter-spacing: 3px;
    background: #ff0000;
    color: #111;
    font-weight: 600;
}

#game-over .neon-text-red{
    text-align: center;
    font-size: 4em;
    margin-bottom: 30px;
    font-weight: bold;
    animation: lightRed 1.5s ease-in-out infinite alternate;
    padding-top: 20%;
}

#game-over .neon-text-green{
    text-align: center;
    font-size: 4em;
    margin-bottom: 30px;
    font-weight: bold;
    animation: lGreen 1.5s ease-in-out infinite alternate;
    padding-top: 20%;
}

@keyframes lightRed {
    from {
        color: #fff;
        text-shadow: 0 0 0px #ff0000,
                     0 0 0    #ff0000,
                     0 0 10px #ff0000,
                     0 0 20px #ff0000,
                     0 0 90px #ff0000;

    }
    to 
    {
        color: lightgrey;
        text-shadow: 0 0 0px #ff0000,
                     0 0 0 #ff0000,
                     0 0 20px #ff0000,
                     0 0 90px #ff0000;
    }
}


@keyframes lGreen {
    from {
        color: #fff;
        text-shadow: 0 0 0px #3cff00,
                     0 0 0 #3cff00,
                     0 0 10px #3cff00,
                     0 0 20px #3cff00,
                     0 0 90px #3cff00;

    }
    to 
    {
        color: lightgrey;
        text-shadow: 0 0 0px #3cff00,
                     0 0 0 #3cff00,
                     0 0 20px #3cff00,
                     0 0 90px #3cff00;
    }
}