* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Arial;
}

html{
    scroll-behavior: smooth;  /*menu transaction to sections*/
}

/* HEADER STYLE */

.header{
    background-color: rgb(226, 183, 215);
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* NAVBAR STYLE */

nav{
    background-color: #fff;
    height: 80px;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    position:fixed;
    top: 90vh; /* required */
    overflow: hidden;
}

nav a{
    flex:1;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    transition: .2s ease-in-out all;
    font-weight: 500;
}

nav a:hover{
    background-color: #f0f0f0;
}

nav .indicator{
    width: 0px;
    height: 7px;
    background-color: steelblue;
    position: absolute;
    bottom: 0;
    transition: 3.s ease-in-out all;
    /*transform: translate(-500px);*/
}

/* SNAKE GAME STYLE */
#snake{
    margin: auto;
}

#board, .boardInfo{
    max-width: 500px;
    margin: auto;
}

#board{
    display:grid;
    grid-template-columns: repeat(10, 1fr);
}

#start, .boardInfo{
    font-size: 25px;
}

#gameOver{
    display:none;
}

.boardInfo{
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start{
    background-color: #f35a69;
    border: none;
    color: #fff;
}

#scoreBoard{
    display: inline-flex;
}

.square{
    aspect-ratio: 1;
}

.emptySquare{
    background-color: #456990;
}

.snakeSquare{
    background-color: #ccf47f;
}

.foodSquare{
   background-color: #f35a69; 
}

/* FLAPPY BIRD STYLE */

#flappyGame{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    overflow: hidden;
}

#block{
    width: 50px;
    height: 500px;
    background-color: #000;
    position: relative;
    left: 400px;
    animation: block 2s infinite linear;
}

@keyframes block {
    0%{left: 400px}
    100%{left: -500px}
}

#hole{
    width: 50px;
    height: 150px;
    background-color: #fff;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s infinite linear;
}

#character{
    width: 20px;
    height: 20px;
    background-color: #f35a69;
    position: absolute;
    top: 892px;
    border-radius: 50%;
    overflow: hidden;
}

#flappyGame{
    margin: auto;
}

